---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}

    <div class="post-list">
     {%- for post in site.posts -%}
      <div class="home-post">
       <a class="post-link" href="{{ post.url | relative_url }}">
       <img src="figures/{{ post.hero_image }}">
      </a>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
       </div>
      {%- endfor -%}
      </div>

  {%- endif -%}

</div>
